snippet b  "basic html template" i
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta charset-"UTF-8">
        <meta name="description" content-"">
        <meta name="author" content="Nathan Nguyen">
		<script src="index.js"></script>
		<link rel="stylesheet" href="index.css">
    </head>
    <body>
    </body>
</html
endsnippet
