snippet p "print"
System.out.println($1);
endsnippet

snippet " le " "<=" riA
 <= $0
endsnippet

snippet " ge " ">=" riA
 >= $0
endsnippet

snippet " ne " "!=" riA
 != $0
endsnippet

snippet " eq " "==" riA
 == $0
endsnippet

 
